@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Cormorant Garamond', serif;
}

img {
    width: 25rem;
    padding-bottom: 0;
}

p {
  color: #FCFCF4;
}

a {
  color: #FCFCF4;
}

h1, h2, h3, h4 {
  color: #FCFCF4; 
}

body {
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

/* STYLE THE HEADER */
.header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  background: #0B0A09;
  color: #f1f1f1;
  opacity: 0.97;
}

h2.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1rem;
}

.header-img {
  width: 6.8rem;
}

.search-img {
  width: 6.8rem;
}

.text-img {
  width: 18rem;
}
button:focus {
  background: #0B0A09;
  transform: scale(1.2);
  border: 2px solid #ffffff;
}
button#back{
  background: none;
  border: none;
}
button#back:hover {
  font-size: large;
  opacity: 0.6;
  cursor: pointer;
}

button#plates{
  background: none;
  border: none;
}
button#plates:hover {
  cursor: pointer;
  transform: scale(1.2);
}

ul#plates-list {
  display: flex;
  justify-content: flex-start;
  padding-top: 10rem;
  font-size: 5rem;
  color: #FCFCF4;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.8);
  transition: visibility 0s linear 0.35s, opacity 0.35s 0s, transform 0.7s;
}
.modal-content {
  display: block;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 2px solid #f1f1f1;
  padding: 1rem 1.5rem;
  width: 25rem;
  border-radius: 0.5rem;
}
.close-button {
  margin: 0;
  float: right;
  width: 2.5rem;
  color: #ffffff;
  text-align: center;
  font-size: 4rem;
  cursor: pointer;
  border-radius: 0.25rem;
}
.close-button:hover {
  color: #ECA547;
  cursor: pointer;
}
.show-modal {
  opacity: 0.9;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.added--msg {
  font-size: 1.5rem;
}

/* Style the search container. */
.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 50px;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.wrapper .title h2{
  color: #FCFCF4;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 25px;
}

.input-form{
  display: flex;
  justify-content: center;
}

.input-fields{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields {
  width: 68%;
}

.input-fields .input, textarea {
  margin: 10px 0;
  background: transparent;
  border: 1.5px solid #FCFCF4;
  border-radius: 0.8rem;
  padding: 10px;
  color: #FCFCF4;
  font-size: 1.9rem;
  width: 100%;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgb(167, 164, 164);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: rgb(167, 164, 164);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: rgb(167, 164, 164);
}

ul, li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

li.plate-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.plate-names {
  font-size: 5rem;  
}

/* Style the result tiles. */
.wrapper-tile {
  top: 30%;
  left: 30%;
  width: 70rem;
  max-width: 85rem;
  background: rgba(0,0,0,0.8);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.name {
  font-size: 6rem;
  border: 4px solid #f1f1f1;
  padding: 2rem;
}

.tile-form {
  display: flex;
  justify-content: flex-start;
}

.tile-fields{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 0;
}

.tile-fields {
  width: 98%;
}
.tile-fields .input, textarea {
  margin: 10px 0;
  background: transparent;
  border: 0px;
  padding: 10px;
  color: #FCFCF4;
  font-size: 1.3rem;
  width: 100%;
}

img#menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 6rem;
}

img#menu:hover {
  font-size: larger;
  font-weight: 700 !important;
  opacity: 0.7;
}

.hidden {
  display: none;
}

/* BUTTON & LINK STYLING */
a {
  display: flex;
  align-items: center;
}
button#search {
    color: #FCFCF4 !important;
    text-transform: uppercase;
    font-size: 1.7rem;
    background: #ECA547;
    padding: 10px;
    border: 2px solid #ECA547 !important;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    transition: all 0.3s ease 0s;
}
button#search:hover {
    color: #ffffff !important;
    font-size: large;
    font-weight: 700 !important;
    letter-spacing: 2px;
    background: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

.add {
  color: #FCFCF4 !important;
  text-transform: uppercase;
  font-size: 1.7rem;
  background: #ECA547;
  padding: 10px;
  border: 2px solid #ECA547 !important;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease 0s;
}
.add:hover {
  color: #ffffff !important;
  font-size: large;
  font-weight: 700 !important;
  letter-spacing: 2px;
  background: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

.add:visited {
  background:none;
}

button#back-to-results {
  color: #f1f1f1 !important;
  text-transform: uppercase;
  font-size: 1.7rem;
  background: #ECA547;
  padding: 10px;
  border: 2px solid #FCFCF4 !important;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 60%;
  transition: all 0.3s ease 0s;
}
button#back-to-results:hover {
  color: #ffffff !important;
  font-size: large;
  font-weight: 700 !important;
  letter-spacing: 2px;
  background: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

@media all and (min-width: 500px){
  img#menu {
    display: flex;
    justify-content: center;
    width: 6.8rem;
  }

  .header-content {
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }

  h2.results {
    margin-bottom: 1rem;
    font-size: 6rem;
    border-bottom: 4px solid #FCFCF4;
    border-radius: 0.5rem;
  }

  h3.rating {
    font-size: 4rem;
  }

  h3.results {
    font-size: 2rem;
  }

  h3.input.results {
    font-size: 1.4rem;
  }

  ul, li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }

  ul#results-list {
    padding-top: 10rem;
  }

  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 750px;
    background: rgba(0,0,0,0.8);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }

  .wrapper-tile{
    width: 50rem;
    max-width: 55rem;
    background: rgba(0,0,0,0.8);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }

  .wrapper-tile .title h1, h2, h3 {
    color: #FCFCF4;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .tile-form{
    display: flex;
    justify-content: center;
  }
  
  .tile-fields{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 0;
  }
  
  .tile-fields {
    width: 88%;
  }
}